
.selectGroup{
    padding: 3px;
}

.displayButton{
    position: relative;
}

.dropOnClick{
    position: absolute;
    width: 250px;
    background-color: #d2d2ee;
    border-radius: 10px;
    margin-top: 10px;
    z-index: 10;
}

.dropOnClick > *{
    width: 100%;
}

.btn{
    background:  #cacad4;;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 12px;
}

.selectStyle{
    width: 100px;
    border-radius: 5px;
    background: white;
    padding: 2px 5px;
}